#hero {
    background-image: url(justin_bieber_justice-wallpaper-1920x1080.jpg);
    background-size: cover;
    height: 480px;
    position: relative;
  }
  
  #call-to-action {
    position: absolute;
    right: 5%;
    top: 40%;
    padding: 10px;
  }
  
  .first {
    font-family: 'Honk', system-ui;
    font-size: 120px;
  }
  
  body {
    background-image: url(blue-stage-lights-light-show.jpg);
  }
  
  #about {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }
  
  .about-p {
    color: white;
  }
  
  .carousel{
    margin: 10px;
  }
  
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  footer{
    background-color: black;
  }
  .footerContainer{
  
    width: 100%;
    padding: 20px;
  }
  .socialIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    
  }
  .socialIcons a:hover{
    background-color: black;
    transition: 0.5;
  }
  
  .socialIcons a:hover i{
    color: white;
    transition: 0.5;
  }
  .footerNav{
    margin: 30px;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .footerNav ul li{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
  }
  .footerBottom{
    background-color: black;
    display: flex;
    justify-content: center;
  }
  .footerBottom p{
    color: white;
  }
  .designer{
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
      flex-direction: column;
    }
    .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }